<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/mainParticipants.js" th:src="@{/mainParticipants.js}"></script>
    <meta charset="ISO-8859-1">
    <title>Liste Participants</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/conventions/getAll/">Gestion des conventions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">(current)</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <div style="color:#e92f71" class="nav-item active">
                <a class="nav-link" href="/participants/getAll/">Particiapnts <span class="sr-only"></span></a>
            </div>
        </ul>
        <li class="nav-item active">
            <!--h5>Welcome,  <span th:text="${username}">Welcome guest!</span></h5-->
        </li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>
<br>
<br>
<div role="main" class="container">

    <div class="starter-template">
        <h2>Liste Des Participants:</h2>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Ajouter Nouveau</button>

        <table class="table table-stripped">
            <thead>
            <tr>
                <td>Id</td>
                <td>Designation</td>
                <td>Modifier</td>
                <td>Supprimer</td>
            </tr>
            </thead>

            <tr th:each="participant:${participants}">
                <td th:text="${participant.idParticipant}">Id</td>
                <td th:text="${participant.designation}">Designation</td>
                <td><a th:href="@{/participants/getOne/(idParticipant=${participant.idParticipant})}" class="btn btn-warning" id="editButton">Modifier</a></td>
                <td><a th:href="@{/participants/delete/(idParticipant=${participant.idParticipant})}" class="btn btn-danger" id="deleteButton">Supprimer</a></td>
            </tr>
        </table>  </div>

</div><!-- /.container -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/participants/addNew}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" >Nouveau Participant</h5>
                    <button type="button" class="close" data-dismiss="modal"aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idParticipant" class="col-form-label" >Id Participant:</label>
                        <input type="text" class="form-control" id="idParticipant" name="idParticipant" readonly>
                    </div>
                    <div class="form-group">
                        <label for="designation" class="col-form-label">Designation:</label>
                        <input type="text" class="form-control" id="designation" name="designation">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form th:action="@{/participants/update}" method="put">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modifier Participant</h5>
                    <button type="button" class="close" data-dismiss="modal"aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idParticipantEdit" class="col-form-label">Id Participant:</label>
                        <input type="text" class="form-control" id="idParticipantEdit" name="idParticipant" readonly>
                    </div>
                    <div class="form-group">
                        <label for="designationEdit" class="col-form-label">Designation:</label>
                        <input type="text" class="form-control" id="designationEdit" name="designation">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"data-dismiss="modal">Quitter</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>etes-vous sur de vouloir supprimer ce participant ?</p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary" id="delRef">Oui, supprimer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
