<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="../static/fontawesome-free-5.13.0-web/css/all.css"
          th:href="@{/css/fontawesome-free-5.13.0-web/css/all.css}"/>

    <title>Liste Conventions</title>
</head>

<style type="text/css">
    body {

    }
    .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
    .show > .btn-info.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    }

    .btn-warning {
        color: #212529;
        background-color: #4dff24;
        border-color: #4dff24;
    }

    .btn-warning:hover {
        color: #212529;
        background-color: #4dff24;
        border-color: #4dff24;
    }

    .btn-warning:focus, .btn-warning.focus {
        box-shadow: 0 0 0 0.2rem rgba(77, 255, 36, 0.5);
    }

    .btn-warning.disabled, .btn-warning:disabled {
        color: #212529;
        background-color: #4dff24;
        border-color: #4dff24;
    }

    .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
    .show > .btn-warning.dropdown-toggle {
        color: #212529;
        background-color: #4dff24;
        border-color: #4dff24;
    }

    .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
    .show > .btn-warning.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(77, 255, 36, 0.5);
    }


</style>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/conventions/getAll/">Gestion des conventions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">(current)</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <div style="color:#e92f71" class="nav-item active">
                <a class="nav-link" href="/participants/getAll/">Participants <span class="sr-only"></span></a>
            </div>



            <div style="color:#e92f71" class="nav-item active">
                <a class="nav-link" href="/conventions/pdf">Print <span class="sr-only"></span></a>
            </div>
        </ul>
        <li class="nav-item active">
            <!--h5>Welcome,  <span th:text="${username}">Welcome guest!</span></h5-->
        </li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>
<br>
<br>
<div role="main" class="container">
    <h2 align="center"> Liste Des Conventions </h2>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Ajouter Nouveau</button>
    <br> <br>

    <table class="table table-stripped">
        <thead>
        <tr>
<!--            <td align="center" style="color: #0e0e8a" >id Convention </td>-->
            <td align="center" style="color: #0e0e8a">Supprimer</td>
            <td align="center" style="color: #0e0e8a" >Date Edition</td>
            <td align="center" style="color: #0e0e8a">Date Entree Vigueur</td>
            <td align="center" style="color: #0e0e8a">Date Expiration</td>
            <td align="center" style="color: #0e0e8a">Objet Convention</td>
            <td align="center" style="color: #0e0e8a">Participants</td>
            <td align="center" style="color: #0e0e8a">Type Convention</td>
            <td align="center" style="color: #0e0e8a">Modifier</td>

        </tr>
        </thead>

        <tr th:each="convention:${conventions}">
<!--            <div th:each="signature :${convention.getSignatures()}">-->
<!--                <div th:text="${signature.participant.getDesignation()}"></div>-->
<!--                <div th:text="${signature.dateSignature}"></div>-->

<!--            </div>-->
<!--            <td th:text="${convention.idConv}"></td>-->
            <td><a th:href="@{'/conventions/delete/'+${convention.idConv}}" class="btn btn-danger"
                   id="deleteButton">Supprimer</a></td>
            <td th:text="${convention.dateEdition}"></td>
            <td th:text="${convention.dateEntreeVigueur}"></td>
            <td th:text="${convention.dateExpiration}"></td>
            <td th:text="${convention.objetConv}"></td>
            <td>
	<lu th:each="signature :${convention.getSignatures()}">
		<li th:text="${signature.participant.getDesignation()+''+formater.format(signature.getDateSignature())}"></li><br>
	</lu>
            </td>
            <td th:text="${convention.typeConvention.getDesignation()}"></td>

            <td><a th:href="@{/conventions/getConventionForm/(idConv=${convention.idConv})}" class="btn btn-warning"
                   id="editButton"> Modifier </a></td>

        </tr>
    </table>



</div><!-- /.container -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form id="formNew" th:action="@{/conventions/addNew}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" align="Center" >Nouveau Convention</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="display:none">
                        <label for="idConv" class="col-form-label">Id Convention:</label>
                        <input type="text" class="form-control" id="idConv" name="idConv">
                    </div>
                    <div class="form-group">
                        <label for="dateEdition" class="col-form-label">Date Edition:</label>
                        <input type="date" class="form-control" id="dateEdition" name="dateEdition">
                    </div>
                    <div class="form-group">
                        <label for="dateEntreeVigueur" class="col-form-label">date Entree Vigueur:</label>
                        <input type="date" class="form-control" id="dateEntreeVigueur" name="dateEntreeVigueur">
                    </div>
                    <div class="form-group">
                        <label for="dateExpiration" class="col-form-label">date Expiration:</label>
                        <input type="date" class="form-control" id="dateExpiration" name="dateExpiration">
                    </div>
                    <div class="form-group">
                        <label for="objetConv" class="col-form-label">objet Convention:</label>
                        <input type="text" class="form-control" id="objetConv" name="objetConv">
                    </div>
                    <div class="form-group">
                        <label for="participant1" class="col-form-label">Participant 1</label>
                        <select  required id="participant1" name="participant1">
                            <option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
                                    th:value="${participant.getIdParticipant()}"></option>
                        </select>
                    </div>
					<div class="form-group">
						<label for="dateSignature1" class="col-form-label">Date Signature 1</label>
						<input required id="dateSignature1" name="dateSignature1" type="date">
					</div>
					<div class="form-group">
						<label for="participant2" class="col-form-label">Participant 2</label>
						<select required id="participant2" name="participant2">
							<option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
									th:value="${participant.getIdParticipant()}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="dateSignature2" class="col-form-label">Date Signature 2</label>
						<input required id="dateSignature2" name="dateSignature2" type="date">
					</div>
					<div class="form-group">
						<label for="participant3" class="col-form-label">Participant 3</label>
						<select id="participant3" name="participant3">
							<option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
									th:value="${participant.getIdParticipant()}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="dateSignature3" class="col-form-label">Date Signature 3</label>
						<input  id="dateSignature3" name="dateSignature3" type="date">
					</div>
					<div class="form-group">
						<label for="participant4" class="col-form-label">Participant 4</label>
						<select id="participant4" name="participant4">
							<option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
									th:value="${participant.getIdParticipant()}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="dateSignature4" class="col-form-label">Date Signature 4</label>
						<input id="dateSignature4" name="dateSignature4" type="date">
					</div>
                    <div class="form-group" style="display: none">
                        <label for="admin" class="col-form-label">id Admin:</label>
                        <input type="text" class="form-control" th:value="${admin.getIdAdmin()}" id="admin" name="admin">
                    </div>
                    <div class="form-group">
                        <label for="typeConvention" class="col-form-label">Type Convention:</label>
                        <select id="typeConvention" name="typeConvention">
                            <option th:each="type : ${types}" th:text="${type.getDesignation()}"
                                    th:value="${type.getIdTypConv()}"></option>
                        </select>
                        <!--							<input type="text" class="form-control" id="typeConvention" name="typeConvention">-->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quitter</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form id="formEdit" th:action="@{/conventions/update}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modifier Convention</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idConvEdit" class="col-form-label">Id Convention:</label>
                        <input type="text" readonly class="form-control" id="idConvEdit" name="idConv">
                    </div>
                    <div class="form-group">
                        <label for="dateEdition" class="col-form-label">Date Edition:</label>
                        <input type="date" class="form-control" id="dateEditionEdit" name="dateEdition">
                    </div>
                    <div class="form-group">
                        <label for="dateEntreeVigueurEdit" class="col-form-label">date Entree Vigueur:</label>
                        <input type="date" class="form-control" id="dateEntreeVigueurEdit" name="dateEntreeVigueur">
                    </div>
                    <div class="form-group">
                        <label for="dateExpirationEdit" class="col-form-label">date Expiration:</label>
                        <input type="date" class="form-control" id="dateExpirationEdit" name="dateExpiration">
                    </div>
                    <div class="form-group">
                        <label for="objetConv" class="col-form-label">objet Convention:</label>
                        <input type="text" class="form-control" id="objetConvEdit" name="objetConv">
                    </div>
                    <div class="form-group">
                        <label for="participant1Edit" class="col-form-label">Participant 1</label>
                        <select required id="participant1Edit" name="participant1">
                            <option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
                                    th:value="${participant.getIdParticipant()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateSignature1Edit" class="col-form-label">Date Signature 1</label>
                        <input required id="dateSignature1Edit" name="dateSignature1" type="date">
                    </div>
                    <div class="form-group">
                        <label for="participant2Edit" class="col-form-label">Participant 2</label>
                        <select required id="participant2Edit" name="participant2">
                            <option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
                                    th:value="${participant.getIdParticipant()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateSignature2Edit" class="col-form-label">Date Signature 2</label>
                        <input required id="dateSignature2Edit" name="dateSignature2" type="date">
                    </div>
                    <div class="form-group">
                        <label for="participant3Edit" class="col-form-label">Participant 3</label>
                        <select id="participant3Edit" name="participant3">
                            <option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
                                    th:value="${participant.getIdParticipant()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateSignature3Edit" class="col-form-label">Date Signature 3</label>
                        <input  id="dateSignature3Edit" name="dateSignature3" type="date">
                    </div>
                    <div class="form-group">
                        <label for="participant4Edit" class="col-form-label">Participant 4</label>
                        <select id="participant4Edit" name="participant4">
                            <option th:each="participant : ${participants}" th:text="${participant.getDesignation()}"
                                    th:value="${participant.getIdParticipant()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateSignature4Edit" class="col-form-label">Date Signature 4</label>
                        <input id="dateSignature4Edit" name="dateSignature4" type="date">
                    </div>
                    <div class="form-group" style="display: none">
                        <label for="admin" class="col-form-label">id Admin:</label>
                        <input type="text" class="form-control" th:value="${admin.getIdAdmin()}" id="adminm" name="admin">
                    </div>
                    <div class="form-group">
                        <label for="typeConventionEdit" class="col-form-label">Type Convention:</label>
                        <select id="typeConventionEdit" name="typeConvention">
                            <option th:each="type : ${types}" th:text="${type.getDesignation()}"
                                    th:value="${type.getIdTypConv()}"></option>
                        </select>
                        <!--							<input type="text" class="form-control" id="typeConvention" name="typeConvention">-->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quitter</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>etes-vous sur de vouloir supprimer cette convention ?</p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary" id="delRef">Oui, supprimer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quitter</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
